{% load paginator %}

<div class="container" style="margin-top: 25px;">
    <nav class="d-lg-flex justify-content-lg-center">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?{% param_replace page=1 %}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                <li class="page-item">
                    <a class="page-link" href="?{% param_replace page=page_obj.previous_page_number %}" aria-label="Previous">
                        <span aria-hidden="true">&lsaquo;</span>
                    </a>
                </li>
            {% endif %}

                <li class="page-item">
                    <a class="page-link">Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</a>
                </li>

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?{% param_replace page=page_obj.next_page_number %}" aria-label="Previous">
                        <span aria-hidden="true">&rsaquo;</span>
                    </a>
                </li>

                <li class="page-item">
                    <a class="page-link" href="?{% param_replace page=paginator.num_pages %}" aria-label="Previous">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>