<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% if messages %}
    {% for message in messages %}
        <script>
            let title = "";
            if("{{message.tags}}" === 'error'){
                title = "¡Error!";
            }
            if ('{{message.tags}}' === 'success'){
                title = "Éxito!";
            }
            if ("{{message.tags}}" === 'warning'){
                title = "Advertencia!";
            }
            if ("{{message.tags}}" === 'info'){
                title = "Información";
            }

            Swal.fire({
                title: title,
                text: '{{message}}',
                type: '{{message.tags}}',
                icon: '{{message.tags}}',
                confirmButtonText: 'OK',
                confirmButtonColor: '#691C32',
            });

        </script>
    {% endfor %}
{% endif %}